SERVER_PORT=8080
SERVER_SERVLET_CONTEXT_PATH=/barbershop

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/barbershop?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useLegacyDatetimeCode=false
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=86400

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=barbershop
MINIO_PUBLIC_BASE_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DATABASE=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=